.pic{

    width:150px;
    position: relative;
    top: 0px;
    border-radius: 50%;
    
}
.name{

    font-size: 35px;
    position: relative;
    bottom: 25px;
    letter-spacing: -2px;
    font-weight: 700;
}
.adress{

    font-size: 20px;
    position: relative;
    bottom: 50px;
}